html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Расположить элементы вертикально */
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    flex: 1; /* Позволяет контейнеру занимать все доступное пространство */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Добавляем эффект при наведении на ссылки */
nav a:hover {
    color: #ff0; /* Цвет текста при наведении */
    border-bottom: 2px solid #ff0; /* Подчеркивание при наведении */
}

a {
    text-decoration: none;
}

a:hover {
    text-emphasis: none;
}

h1 {
    color: #0f061f;
    margin-top: 20px;  /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 2em;     /* Размер шрифта */
}

h2 {
    color: #0581c9;
    margin-top: 20px;  /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 1.5em;     /* Размер шрифта */
}

p {
    margin: 10px;
    padding: 0;
}

.bounce:hover {
    animation-name: bounce;
    border-radius: 5%;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.gradient {
    font-style: italic; /* Курсивное начертание */
    font-size: 1em; /* Размер шрифта */
    background: linear-gradient(60deg, #e917aa, #1d20ff, #e917aa); /* Градиентный фон */
    background-clip: text; /* Применяет фон только к тексту */
    -webkit-background-clip: text; /* Поддержка для браузеров на базе WebKit */
    color: transparent; /* Делает текст прозрачным */
    background-size: 150% 150%; /* Размер фона для плавной анимации */
    animation: gradientShift 3s ease infinite; /* Анимация градиента */
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%; /* Начальная позиция градиента */
    }
    50% {
        background-position: 100% 100%; /* Позиция градиента в середине анимации */
    }
    100% {
        background-position: 0% 0%; /* Возвращается к начальной позиции */
    }
}

em {
    font-style: italic; /* Курсивное начертание */
    font-size: 1em; /* Размер шрифта */
    background: linear-gradient(90deg, #feb47b, #1d20ff, #feb47b); /* Градиентный фон */
    background-clip: text; /* Применяет фон только к тексту */
    -webkit-background-clip: text; /* Поддержка для браузеров на базе WebKit */
    color: transparent; /* Делает текст прозрачным */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.hidden-link {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 60px; /* Отступ от нижнего края страницы */
    left: 20px; /* Отступ от правого края страницы */
    font-size: 0.7em; /* Меньший размер шрифта */
    color: rgba(161, 161, 161, 0.3); /* Полупрозрачный цвет текста */
    text-decoration: none;
    /*background: rgba(255, 255, 255, 0.9); /* Фон для улучшения видимости */
    padding: 5px; /* Отступы для кликабельной зоны */
    /*border-radius: 5px; /* Скругленные углы */
    animation: moveHorizontally 2s infinite; /* Анимация движения */
}

@keyframes moveHorizontally {
    0% {
        transform: translateX(0); /* Начальная позиция */
    }
    50% {
        transform: translateX(20px); /* Двигается вправо на 20px */
    }
    100% {
        transform: translateX(0); /* Возвращается в исходную позицию */
    }
}

.hidden-link:hover {
    color: rgba(128, 166, 248, 0.5); /* Цвет текста при наведении */
    text-decoration: none;
}
