<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"><!-- Подключаем таблицу стилей -->
</head>
<body>
    <header>
        <h1>Контакты</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">Обо мне</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h2>Связь со мной</h2>
        <p><strong>Звони:</strong></p>
        <ul>
            <li><p class="bounce"><a class="gradient" href="tel:+79043704567"><strong>8-904-370-45-67</strong></a></p></li>
            <li><p class="bounce"><a class="gradient" href="tel:+79230347033"><strong>8-923-034-70-33</strong></a></p></li>
        </ul>
        <p><strong>Пиши:</strong></p>
        <ul>
            <li><p class="bounce"><strong><a class="gradient" href="https://t.me/kivinew" target="_blank">в Telegram</strong></a></p></li>
            <li><p class="bounce"><strong><a class="gradient" href="https://wtsp.cc/79043704567" target="_blank">в WhatsApp</strong></a></p></li>
            <li><p class="bounce"><strong><a class="gradient" href="mailto:kivinew@gmail.com">на E-почту</a></strong></p></li>
        </ul>
    </main>
    <em>Неидеальное действие лучше идеального бездействия</em>
    <footer>
        <p>&copy; 2024 KiViNeW. Все права защищены.</p>
    </footer>
    <a href="/kivinew" class="hidden-link">Скрытая ссылка</a>
</body>
</html>