<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Контакты</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">Обо мне</a></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <h2>Связь со мной</h2>
        <p><strong>Звони:</strong></p>
        <p><a href="tel:+79043704567"><strong>8-904-370-45-67</strong></a></p>
        <p><a href="tel:+79230347033"><strong>8-923-034-70-33</strong></a></p>

        <p><strong>Пиши:</strong></p>
        
        <p><strong><a href="https://t.me/kivinew" target="_blank">в Telegram</strong></a></p>
        <p><strong><a href="https://wtsp.cc/79043704567" target="_blank">в WhatsApp</strong></a></p>
        <p><strong><a href="mailto:kivinew@gmail.com">на E-почту</a></strong></p>
    </main>
    <footer>
        <p>&copy; 2024 KiViNeW. Все права защищены.</p>
    </footer>
    <em>Неидеальное действие лучше идеального бездействия</em>
    
    <a href="http://127.0.0.1:5000/kivinew" class="hidden-link">Скрытая ссылка</a>
</body>
</html>