{% extends 'template.html' %}

{% block title %}Главная{% endblock %}

{% block header %}
    <h1>Добро пожаловать на мой сайт!</h1>
    <nav>
        <ul>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main %}
    <h2>Главная страница</h2>
    <ul>
        <p>
            Привет друг. Спасибо, что посетил эту страницу.
        </p>
    </ul>
{% endblock %}

{% block aphorism %}
    Это кажется невозможным, только пока не будет сделано
{% endblock %}

{% block hiddenlink %}
    http://127.0.0.1:5000/kivinew
{% endblock %}