{% extends 'base_template.html' %}

{% block title %}{{name}}{% endblock %}

{% block header %}
    <h1>Вариант страницы для {{name}}</h1>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}
    
{% block main %}
    <h2>Внимание!</h2>
    <p>Приветствую тебя, гость. Ты перешёл на несуществующую страницу с именем "{{name}}". Страница была создана для тебя, но сейчас будет удалена.</p>
    <p>Ты можешь связаться со мной в Telegram: <a href="https://t.me/kivinew" target="_blank">kivinew</a></p>
    
    <script>
        setTimeout(function() {window.location.href = "/";}, 5000); // редирект на главную через 5 секунд
    </script>
{% endblock %}

{% block aphorism %}
    Жизнь задыхается без цели.
{% endblock %}

{% block hiddenlink %}
    /kivinew
{% endblock %}