<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>☺☺☺☺☺☺☺</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">Обо мне</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <h2>Секретная страница</h2>

        <p>Этот сайт написан при помощи CHATGPT.</p>
    </main>
    <footer>
        <p>&copy; 2024 KiViNeW. Все права защищены.</p>
    </footer>
    <em></em>
    <a href="http://youtube.com/@synwise" class="hidden-link" target="_blank">Секретная ссылка</a>
</body>
</html>
